<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>

  <body>
    {{> header}}
    
    <p>Hi, all about me. Thank you!</p>

    {{> footer}} <!-- Injecting footer partials -->
  </body>
</html>
