<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>

  <body>
    <h1>Uh oh, looks like the site is being updated...</h1>
    <p>Don't worry, we will be back up and running before you know it!</p>

    {{> footer}} <!-- Injecting footer partials -->
  </body>
</html>
